[submodule "lib/Roact"]
	path = lib/Roact
	url = https://github.com/Roblox/Roact
[submodule "lib/TestEZ"]
	path = lib/TestEZ
	url = https://github.com/Roblox/TestEZ
[submodule "lib/lemur"]
	path = lib/lemur
	url = https://github.com/LPGhatGuy/lemur
